* {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgba(44, 45, 131, 0.993);
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1, h2{
    text-align: center;
    color: white;
}



table{
    border-collapse: collapse;
    border: 1px solid #DDDDDD;
    margin:auto;
    text-align: center;
    height: 20cm;
    table-layout: fixed;
    margin-top: 40px;
}


.posicao{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}


.libertadores .posicao{
    color: #003366;
}

.pre-libertadores .posicao{
    color: #1398BE;
}

.sul-americana .posicao{
    color: #DE9800;
}

.zona-de-corte .posicao, .sem-classificacao .posicao{
    color: #CCCCCC;
}

.rebaixamento .posicao{
    color: #C91B04;
}

.titulo{
    font-size: 13px;
    color: #999999;
    font-weight: bold;
    text-align: center;
}

.nome-time{
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: left;
}

.pontos{
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.libertadores, .pre-libertadores, .sul-americana, .sem-classificacao, .zona-de-corte, .rebaixamento{
    font-size: 14px;
    color: #666666;
    text-align: center;
}

td{
    border-bottom: 1px solid #DDDDDD;
}

.pre-libertadores td, .zona-de-corte td{
    border-bottom: 2px solid #CCCCCC;
}

tr .rodape, .classificacao{
    border: none;
    padding-right: 1cm;
}

tr .rodape{
    padding-bottom: 0.2cm;
    padding-left: 0.2cm;
}

tr .classificacao{
    padding-top: 0.2cm;
}

.classificacao{
    font-size: 10px;
    color: #8F8F8F;
    text-align: left;
}

.rodape{
    font-size: 10px;
    color: #555555;
    text-align: left;
}


.pontos, .vitorias, .derrotas, .gols-contra, .porcentagem{
    background-color: #F7F7F7;
}

tfoot img{
    width: 10px;
    padding-left: 00.2cm;
}
